body {
    background-color: #c6c6c6;
    margin: 0;
}

p {
    margin: 0;
}

.wrap {
    background-color: white;
    width: 375px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.instargram {
    width: 100%;
    height: 550px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 375px 1fr;
    grid-template-areas:
        "header"
        "img"
        "footer";

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.header {
    grid-area: header;
    width: auto;
    height: auto;
    margin: 5px 10px;
}

.header-left {
    float: left;
    display: flex;
    align-items: center;
}

.header-img {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.header-right {
    float: right;
    height: 100%;

    display: flex;
    align-items: center;
}

.right-menu {
    cursor: pointer;
    user-select: none;
}

.img {
    grid-area: img;
    width: 100%;
    height: 100%;
    clear: both;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas:
        "top-left top-center top-right"
        "like like like"
        "comment comment comment";

}

.top-left {
    grid-area: top-left;
    display: flex;
    font-size: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}


.top-left span:nth-of-type(1):hover{
    color:red;
    cursor: pointer;
    fill:aqua;
}

#full-heart {display: none;}

.top-center {
    grid-area: top-center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.top-right {
    grid-area: top-right;
    display: flex;
    font-size: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.like {
    grid-area: like;
    font-size: 12px;
    margin: 0 10px;
}

.comment {
    grid-area: comment;
    font-size: 12px;
    margin: 0 10px;
}

ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
}

li {
    width: 7px;
    height: 7px;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 50%;

}